<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ferrari</title>
</head>
<body>
    <p>This car show has a very rare collection of Ferraris.</p>
    <img src="/static/ferrari_collection.jpeg" alt="Ferrari Collection"
        height="500">
    <p>If you would like to see the Ferrari go around the track, pick up your ticket <a href="/get_ticket">HERE</a></p>
    <p>Or you can go back to the beginning of the show by clicking <a href="/showroom">HERE</a></p>
</body>
</html>