<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ferrari</title>
</head>
<body>
    <p>This car show has a very rare collection of Ferraris.</p>
    <img src="/static/ferrari_collection.jpeg" alt="Ferrari Collection"
        height="500">
    <p>
        <label>Would you like to see the Ferrari LaFerrari in action?</label>
        <select id="ferrari_in_race">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </p>
</body>
</html>