<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
    <h3>Here is your ticket. Don't lose it!</h3>
    <p>
        {% print("Parts: ") %}
        {% print(world["Parts"]) %}
    </p>
    <img src="/static/ticket.gif" alt="Ticket">
    <p>If you would like to get a snack before you see the race, click <a href="/get_snacks">HERE</a> to go to the snack stand.</p>
    <p>Click <a href="/ferrari_race">HERE</a> to use your ticket now to see the Ferrari race!</p>
</body>
</html>
</center>