<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lamborghini Track</title>
</head>
<body>
    <h3>Welcome! The Lamborghini Aventador SVJ is one of the fastest production cars in the world!</h3>
    <img src="/static/aventador_svj.gif" alt="Aventador Racing">
    <p>You found Hoonigan racing legend Ken Block on the sideline!!</p>
    <form action="/save/ken_block/">
        <p>Would you like to ask for his autograph?</p>
        <select name="signature?">
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>