<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lamborghini</title>
</head>
<body>
    <p>This is the Lamborghini Aventador SVJ</p>
    <img src="/static/lamborghini_aventador.jpeg" alt="Lamborghini Aventador SVJ"
        width="600" height="400">
    <form action="/save/">
        <p>Want to see the Lamborghini Aventador SVJ race around a track?</p>
        <select name="race">
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <p>Click <a href="/ferrari">HERE</a> to see the Ferrari collection.</p>
</body>
</html>