<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Lamborghini</title>
</head>
<body>
    <h2>This is the Lamborghini Aventador SVJ</h2>
    <p>You found a set of fuzzy dice in the Lamborghini! You may want to keep those close by!</p>
    <p>
        {% print("Parts: ") %}
        {% print(world["Parts"]) %}
    </p>
    <img src="/static/lamborghini_aventador.jpeg" alt="Lamborghini Aventador SVJ"
        width="600" height="400">
    <form action="/save/">
        <p>Want to see the Lamborghini Aventador SVJ race around a track?</p>
        <select name="race">
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
</center>