<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is the Lamborghini Aventador SVJ</p>
    <img src="/static/lamborghini_aventador.jpeg" alt="Lamborghini Aventador SVJ"
        width="600" height="400">
    <p>
        <label>Would you like to take the Lamborghini Aventador SVJ for a test drive?</label>
        <select id="test_drive">
            <option value = "Yes">Yes</option>
            <option value = "No">No</option>
        </select>
    </p>
</body>
</html>