<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>McLaren Key</title>
</head>
<body>
    <h3>You have the keys to the McLaren 720s.</h3>
    <p>You also found an alternator around the keys! That could be useful in the future!</p>
    <p>
        {% print("Parts: ") %}
        {% print(world["Parts"]) %}
    </p>
    <img src="/static/mclaren_car_key.jpeg" alt="McLaren Car Key"
        height = 500>
    <p>If you would like to drive the McLarenk, click <a href="/720s_test_drive">HERE</a></p>
</body>
</html>
</center>