<!DOCTYPE html>
<html lang="en">
<center>
<head>
    <meta charset="UTF-8">
    <title>Prize</title>
</head>
<body>
    <h3>Congratulations! You have won an all expenses paid trip to the New York International Auto Show!</h3>
    <img src="/static/ny_auto_show.jpeg" alt="NY International Auto Show"
         height="400">
    <h4>You'll get to see some really amazing vehicles in person. Don't forget to take pictures! Take a look at
        some of the vehicles that have been at this show previously.</h4>
    <img src="/static/amg_gtr.jpeg" alt="AMG GTR"
         height="400">
    <img src="/static/bentayga.jpeg" alt="Bentley Bentayga"
         height="400"><br>
    <img src="/static/supra.jpeg" alt="Toyota Supra"
         height="400">
    <img src="/static/chiron.jpeg" alt="Bugatti Chiron"
         height="400">
</body>
</html>
</center>