<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showroom</title>
</head>
<body>
    <p>This is the showroom floor. It contains hypercars from brands such as Lamborghini, Ferrari, and McLaren.</p>
    <p>You have a budget of $500,000 to spend on some supercars!</p>
    <img src="/static/hyper_showroom.jpeg" alt="Showroom Floor"
        width="750" height="500"><br>
    <p>Click <a href="/mclaren">HERE</a> to see the McLaren 720s.</p>
    <p>CLick <a href="/lamborghini">HERE</a> to see the Lamborghini Aventador.</p>
</body>
</html>